h1 {
    text-align: center;
    font-size: 500%;
    color: white;
    font-family: Georgia;
}

h4 {
    text-align: center;
    color: lightgrey;
    font-size: 200%;
    font-family: Cambria;
}

#header {
    padding: 5vh;
    background-color: black;
    height: 100vh;
    z-index: 6;
}

svg {
    overflow: visible;
}

#log {
    height: 55vh;
    padding-top: 5vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Noto Sans Coptic";
    font-size: 17px;
}

#rainbow-diagram{
    max-width: 60vw;
    max-height:95vh;
    margin: 0 auto;
}

svg .seat.AI { fill: #fd8acd; }
svg .seat.CR { fill: #ed1f24; }
svg .seat.CS { fill: #ff6700; }
svg .seat.DMAE { fill: #fed00d; }
svg .seat.Fintech { fill: #55bb47; }
svg .seat.Health { fill: #066b38; }
svg .seat.ISSH { fill: #00b3ff; }
svg .seat.MT { fill: #0900f9; }
svg .seat.NSCLD { fill: #4b08a1; }
svg .seat.Other { fill: #828085; }

#area-chart {
    height: 90vh;
    padding-top: 6vh;
}

#histo-chart{
    height: 90vh;
    padding-top: 6vh;
}

#map-chart {
    height: 40vh;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    z-index:0
}

#map {
    padding-top: 40vh;
}

#circles {
    height: 100vh;
}

.countries{
    padding-top: 50vh;
    width: 100vw;
    height: 100vh;
}

.rain {
    padding-top: 4vh;
}

.last{
    padding-bottom: 20vh;
}

#circle-chart{
    height: 100vh;
}

.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    font: 12px sans-serif;
}

.tooltip h3, h6 {
    text-align: left;
}

.tooltip h6 {
    font: 14px sans-serif;
}

#Tooltip {
    font-family: "Calibri Light";
}

h5 {
    margin-top: 25px;
    text-align: center;
    font-size: 27px;
}

.area {
    opacity: 1;
    clip-path: url(#clip);
}

.area:hover {
    opacity: 0.7;
}

#legend{
    position: fixed; left: 0; right: 0; top: 0; bottom:0;
    box-shadow: 100px 100px 5px black;
    font-size: 17px;
}

p {
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

#dropdown {
    height: 10%
}

#categorySelector {
    width: 100%;
    height: 50px
}